body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* FOOTER */
#footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  text-shadow: none;
  color: azure;
  background-color: black;
  text-align: center;
  padding: 6px;
  border-top: 1px solid white;
  border-radius: 3vmin 3vmin 0vmin 0vmin;
  opacity: 0.8;
}
#footer a{
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 197, 121);
}
#footer a img{
  height: .8rem;
}

@media only screen and (max-width: 600px){
  #footer{
      font-size: 13px;
  }
}